.carousel{
    max-height: 250px;
}

.carousel__item{
    width: inherit;
    height: inherit;
    display: inherit;
}

.carousel-img{
    width: auto;
    max-width: 100%;
    height: 250px;
    max-height: 300px;
    display: block;
    object-fit: cover;
}

.home-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section__container-cards{
    width: 95%;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 10px;    
}

.card{
    width: 280px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    position: relative;
}

.card-image{
    height: 80%;
}

