.carousel{
    max-height: 250px;
}

.home-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards{
    width: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 10px;    
}

.card{
    width: 280px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    position: relative;
}

.card-image{
    height: 80%;
}

