<section>
  <div class="carousel carousel-slider center" style="height: 200px">
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</section>

<section class="main">

  <div id="home" class="main__home">
    <div class="main__home__content">
      <h1 class="main__home__content-h1">Comparaciones, especificaciones y rankig de auriculares y mouses gaming</h1>
      <h2 class="main__home__content-h2"> Headsets </h2>
      <p class="main__home__content-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quam architecto itaque optio
        corrupti ut reprehenderit inventore, nisi perferendis culpa blanditiis consequatur harum cum
        cupiditate cumque distinctio assumenda ducimus modi!
      </p>
    </div>


    <div class="main__home__container-cards">
      <div class="card">
        <div class="card__content-all">
          <div class="card__content card__content-all__title">
            <span class="card__title">Card Title</span>
          </div>

          <div class="card--all">
            <div class="card__image card--all__img waves-effect waves-block waves-teal">
              <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
            </div>
            <div class="card__content card--all__subtitle">
              <span class="card__title">Card Title</span>
            </div>
          </div>
         
          <div class="card--all">
            <div class="card__image card--all__img waves-effect waves-block waves-teal">
              <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
            </div>
            <div class="card__content card--all__subtitle">
              <span class="card__title">Card Title</span>
            </div>
          </div>
         
          <div class="card--all">
            <div class="card__image card--all__img waves-effect waves-block waves-teal">
              <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
            </div>
            <div class="card__content card--all__subtitle">
              <span class="card__title">Card Title</span>
            </div>
          </div>
 
          <div class="card--all">
            <div class="card__image card--all__img waves-effect waves-block waves-teal">
              <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
            </div>
            <div class="card__content card--all__subtitle">
              <span class="card__title">Card Title</span>
            </div>
          </div>

          <div class="card__content">
            <a href="#">Ver más</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>


    <div class="main__home__content">
      <h2 class="main__home__content-h2"> Mouses </h2>
      <p class="main__home__content-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quam architecto itaque optio
        corrupti ut reprehenderit inventore, nisi perferendis culpa blanditiis consequatur harum cum
        cupiditate cumque distinctio assumenda ducimus modi!
      </p>
    </div>

    <div class="main__home__container-cards">
      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>

    <div class="main__home__content">

      <h2 class="main__home__content-h2"> Mouses </h2>
      <p class="main__home__content-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quam architecto itaque optio
        corrupti ut reprehenderit inventore, nisi perferendis culpa blanditiis consequatur harum cum
        cupiditate cumque distinctio assumenda ducimus modi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, maiores sunt facere
        sequi vel, obcaecati repellat tenetur dolorem eius, perspiciatis natus suscipit atque
        architecto enim similique repellendus error dolor delectus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus reprehenderit quia
        ommodi obcaecati accusamus porro rerum maiores aliquid libero, tempore ipsa culpa eum!
        Accusantium dolore incidunt cumque, delectus rerum neque?
      </p>
    </div>

    <div class="main__home__container-cards">
      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>

    <div class="main__home__content">

      <h2 class="main__home__content-h2"> Mouses </h2>
      <p class="main__home__content-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quam architecto itaque optio
        corrupti ut reprehenderit inventore, nisi perferendis culpa blanditiis consequatur harum cum
        cupiditate cumque distinctio assumenda ducimus modi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, maiores sunt facere
        sequi vel, obcaecati repellat tenetur dolorem eius, perspiciatis natus suscipit atque
        architecto enim similique repellendus error dolor delectus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus reprehenderit quia
        ommodi obcaecati accusamus porro rerum maiores aliquid libero, tempore ipsa culpa eum!
        Accusantium dolore incidunt cumque, delectus rerum neque?
      </p>
    </div>

    <div class="main__home__container-cards">
      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="card__content">
          <span class="card__title">Card Title</span>
        </div>
        <div class="card__image waves-effect waves-block waves-teal">
          <img class="activator" src="./../../../../assets/images/auriculares-preuba-1.png">
        </div>
        <div class="card__content">
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
  </div>


  <div class="main__aside">
  </div>
</section>