<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="productos/lista">Productos</a></li>
      </ul>
    </div>
</nav>

<header class="header">
    <div class="container">
        <figure class="logo">
            <img src="D:\Prsnl Fls\platzi\curso desarrollo web\basico html-css\images\logo.png" height="50px"
                alt="Paila papu, no le cargo el logo por feo :v">
        </figure>
        <nav class="menu">
            <ol>
                <li>
                    <a class="link" href="#portafolio">portafolio</a>
                </li>
                <li>
                    <a class="link" href="#xp">Experíencia del meco</a>
                </li>
                <li>
                    <a class="link" href="#nudes">Trabajemos Juntos</a>
                </li>
            </ol>
        </nav>
    </div>
</header>