<nav class="nav">
    <div class="nav-wrapper">
        <div class="logo">

            <a href="#!" class="brand-logo logo"><img src="../../../assets/images/logo-prueba.png" height="30px"
                    alt="image not found"></a>
            <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        <div class="menu">
            <ul class="right hide-on-med-and-down">
                <li><a href="productos/lista">Productos</a></li>
                <li><a href="productos/lista">Productos</a></li>
                <li><a href="productos/lista">Productos</a></li>
                <li><a href="productos/lista">Productos</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="menu-responsive">
    <li><a href="productos/lista">Productos</a></li>
    <li><a href="productos/lista">Productos</a></li>
    <li><a href="productos/lista">Productos</a></li>
    <li><a href="productos/lista">Productos</a></li>
</ul>