.nav{
    height: 50px;
    justify-content: space-between; 
    align-items: center;
    background: #232F3E;
}

.nav-wrapper{
    height: inherit;
    justify-content: space-between; 
    align-items: center;
    display: flex;
}

.nav-wrapper__logo{
    width: inherit;
    height: inherit;
    display: inherit;
    align-items: center;
    padding: 5px 5px 5px 30px; 
}

.nav-wrapper__logo-logo{
    align-items: center;
}

.menu{
    width: inherit;
    height: inherit;
    background: inherit;
    justify-content: flex-end;
    align-items: center;
    display: inherit;
}

.menu__list{
    height: inherit;
    display: inherit;
    align-items: center;
}

.menu__list-item{
    height: inherit;
    align-items: center;
    display: inherit;
}

.menu__list-item a{
    height: inherit;
    align-items: center;
    display: inherit;
}


