.body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.page-footer{
  /*background: #2E8DF9;*/
  background: #232F3E;
  display: flex;
  min-height: 40vh;
  flex-direction: column;
}

